.linkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  background: rgba(255,255,255,0.1);
  border-radius: 50%;
  border: 1px solid transparent
}

.linkWrapper:hover {
  border: 1px solid #ff4500;
  transition: all 0.3s ease-in-out ;
}

.linkWrapper a {
  font-size: 30px;
  color: #ff4500;
}


@media screen and (max-width: 360px) {
  .linkWrapper {
    width: 50px;
    height: 50px;
  }
}
