.projects {
  display: flex;
  justify-content: center;
  padding: 50px;
  min-height: 100vh;

  background-color: #1f1f20
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 30px auto;

}


.myProjects {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1500px){
  .myProjects {
    flex-direction: column;
    align-items: center;
  }
}