.slogan {
    height: 250px;
    background-color: #d1d091;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 90%;
    margin: 30px auto;
    border: 2px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.sloganButton{
padding: 20px;
}

.sloganButton button{
    width: 160px;
    height: 40px;
    font-size: 20px;
    background-color: gray;

}


.sloganText {
    background-color: gray;
    font-size: 20px;
    margin: 20px;

}