.sloganBackground{
  background-image: url('../../assets/image/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

.slogan {


  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(37, 37, 39, 0.3);

}


.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 80px auto;

}

.sloganText {
  margin: 20px;

  font-size: 20px;

  background-color: gray;
}

