.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;

  background-color: rgba(37, 37, 39, 0.3);
}

.container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 30px auto;

}

.sloganButton {
  padding: 20px;
}

.sloganButton button {
  width: 160px;
  height: 40px;

  font-size: 20px;

  background-color: gray;
}


.sloganText {
  margin: 20px;

  font-size: 20px;

  background-color: gray;
}
