.titleWrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 5px;
}

.line {
  width: 55px;
  height: 1px;
  margin-bottom: 60px;

  background-color: #ff4500;
}
