.header {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: white;
  z-index: 2;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  margin: 10px;
}
