.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;

  background-color: #a9d19a;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 30px auto;

  border: 2px solid;
}

.footerTitle {
  padding: 20px;

  font-size: 20px;
}

.myLinks {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 20px;

  border: black 1px solid;
}

.link {

  width: 60px;
  height: 60px;

  background-color: gray;
}

.copyright {
  margin: 20px;

  background-color: gray;
}

@media screen and (max-width: 556px){
    .myLinks {
        width: 100%;
    }

}

@media screen and (max-width: 360px){
    .link {
        width: 50px;
        height: 50px;
    }

}