.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 30px;

  background-color: #252527;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.footerTitle {
  font-size: 20px;
}

.myLinks {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 20px;
}





@media screen and (max-width: 556px) {
  .myLinks {
    width: 100%;
  }
}
