.footer {
  display: flex;
  justify-content: center;
  align-items: center;
height: 150px;
  background-color: #252527;
    padding: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;

}

.footerTitle {
  font-size: 20px;
}

.myLinks {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 20px;
}

.link {

  width: 60px;
  height: 60px;

  background-color: gray;
}

.copyright {


}

@media screen and (max-width: 556px){
    .myLinks {
        width: 100%;
    }

}

@media screen and (max-width: 360px){
    .link {
        width: 50px;
        height: 50px;
    }

}