.projectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  margin: 10px 0 0 0;

  background-color: #c1c1c1;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  height: 60%;

  border: 1px solid black;
}

.buttonWatch button {
  width: 120px;
  height: 40px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-self: stretch;
  height: 40%;

  border: 1px solid black;
}

.shortDescription {
  width: 80%;

  background-color: gray;
}

@media screen and (max-width: 555px) {
  .projectWrapper {
    width: 100%;
  }
}
