.projectWrapper {
  width: 500px;
  margin: 30px 20px;

  background: rgba(255, 255, 255, 0.1);
}

.image {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: black;
  opacity: 0.4;
}

.buttonWatch {
  position: relative;
    z-index: 1;
}

.description {
  margin: auto 10px;
}

.projectTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
}

.shortDescription {
  text-align: justify;
}


@media screen and (max-width: 555px) {
  .projectWrapper {
    width: 280px;
  }

  .image {
    width: 280px;
    height: 190px;
  }
}
