.projectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10px;

}

.project {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: #c1c1c1;


}

.buttonWatch button {
  width: 120px;
  height: 40px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-self: stretch;
  height: 40%;

}

.shortDescription {

}

@media screen and (max-width: 555px) {

  .project {
    width: 280px;
    height: 190px;

  }
}
