.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: #d17649;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 30px auto;

  border: 2px solid;
}

.contactsTitle {
  margin: 10px;

  font-size: 30px;

  background-color: gray;
}

.contactsForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 300px;

  border: black 1px solid;
}

.contactsForm input {
  height: 30px;
}

.contactsForm textarea {
  height: 180px;
}

.contactsButton button {
  height: 40px;
  margin: 10px;

  font-size: 20px;

  background-color: gray;
}

@media screen and (max-width: 556px){
    .contactsForm {
        width: 100%;
    }

}