.contacts {
    background-color: #d17649;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    margin: 30px auto;
    border: 2px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.contactsTitle {
    background-color: gray;
    font-size: 30px;
    margin: 10px;
}

.contactsForm {
    width: 40%;
    min-width: 300px;
    height: 300px;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactsForm input{
    height: 30px;
}

.contactsForm textarea{
    height: 180px;
}

.contactsButton button{
    height: 40px;
    font-size: 20px;
    background-color: gray;
    margin: 10px;
}


