.backgroundWrapper {
  position: fixed;

  width: 100%;
  height: 100%;

  background-image: url("https://images.wallpaperscraft.ru/image/noutbuk_chashka_ochki_rastenie_114948_1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
